/**
 * A simple set of CSS rules that resets the styling
 * of all HTML elements to a consistent baseline.
 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {

}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
